:root {
    --claro: #FCFBE7;
    --azul: #B7E1DE;
    --vermelho: #FF9494;
    --amarelo: #E7DA66;
    --verde: #D4FF8D;
    --laranja: #FFDBA2;
    --roxo: #CBC2F7;
    --verde2: #00FF66;
    --vermelho2: #ff6767;

    --borda: 3px solid black;

    --b1: 1px solid black;
    --b2: 1px solid red;

    --trans: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
    --sombra:  5px 5px 0px black;
    --sombra2:  5px 5px 0px var(--amarelo);

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: var(--claro);
}

a {
    color: inherit; /* Define a cor do texto como a cor padrão herdada */
    text-decoration: none; /* Remove sublinhado padrão */
}


h1 {
    font-weight: 900;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

input[type="text"], 
input[type="password"], 
input[type="email"],
input[type="number"] {

    border: none;
    outline: none;
    background: none;
    border: var(--borda);
    border-radius: 10px;
    padding: 10px 15px;   
}


svg {
    width: 50px;
    height: 50px;
}