.azul,
.amareloToAzul:hover {
    background-color: var(--azul);
}

.vermelho {
    background-color: var(--vermelho);
}

.amarelo {
    background-color: var(--amarelo);
}

.verde,
.amareloToVerde:hover {
    background-color: var(--verde);
}

.laranja {
    background-color: var(--laranja);
}

.roxo {
    background-color: var(--roxo);
}

.verde2 {
    background-color: var(--verde2);
}

.vermelho2 {
    background-color: var(--vermelho2);
}

.claro,
.amareloToClaro:hover {
    background-color: var(--claro);
}

.b1 {
    border: var(--b1);
}


.trans {
    transition: var(--trans);
}