.tabela {

    font-size: 20pt;
    
    table {
        border-collapse: collapse;
        width: 100%;
        
        th {
            width: 200px;
            height:50px;
            text-align: center;
            border: var(--borda);
            font-weight: 800;

            word-break: break-all;
            word-wrap: break-word;

        }

        td {
            width: 100px;
            text-align: center;
            border: var(--borda);
            padding: 2px 5px;

            p {
                font-weight: 600;
                font-size: 12pt;
            }
        }

        .temAula {
            padding: 15px;
        }
    }
}
