.check {

    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
    &, .formulario {
        display: flex;
    }
    
    &, .formulario {
        flex-direction: column;
    }
    
    .formulario {
        width: 85%;
    
        .titulo {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            h2 {
                font-size: 25pt;
            }
        }


        .periodos {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 50px;
            align-items: center;

            .periodo {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #ccc;
                margin-bottom: 50px;
                width: 90%;

                .perTitulo {
                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 25px;
                    h3 {
                        font-size: 21pt;
                    }

                    button {
                        padding: 5px 25px;
                        font-size: 15pt;
                        font-weight: 600;
                    }
                }

                .disciplinas {
                    .disciplina {
                        margin-bottom: 15px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        transition: var(--trans);
                        font-size: 18pt;
    
                        input {
                            margin-right: 10px;
                            width: 30px;
                            height: 30px;
                        }
    
                        label {
                            cursor: pointer;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            svg {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }   
            }
        }
    }
}