.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
    margin-top: 30px;
    
    .ofertas {
        
        
        width: 85%;

        .cabecalho {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 75px;
            margin-top: 25px;
            h1 {
                font-size: 2.5rem;
            }

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                // width: 100%;
                width: 250px;
                cursor: pointer;
                // border: 1px solid red;

                transition: var(--trans);

                &:hover {
                    scale: 1.05;
                }

                input[type="checkbox"] {
                    margin-right: 10px;
                    width: 50px;
                    height: 25px;
                }
                
                label {
                    font-size: 18pt;

                }

            }

        }

        .periodos {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .periodo {
                margin-bottom: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;

                .tituloPer {
                    margin-bottom: 25px;
                }

                .ofertasPer {
                    display: flex;
                    flex-wrap: wrap;
                    // justify-content: center;
                    // width: 100%;
                    // justify-content: center;
                
                    & > div {
                        margin-right: 15px;
                        margin-bottom: 25px;
                    }

                }
            }


        }
    }
}